{{define "edit_karyawan"}}
{{template "header"}}
    {{template "top-wrapper"}}

        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-primary" id="view-changer" data-identifier="pribadi">Data Pribadi</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn" id="view-changer" data-identifier="keluarga">Data Keluarga</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" id="tab-view" data-identifier="pribadi">
            <div class="card-header">
                <h3 class="card-title">Edit Karyawan</h3>
            </div>
            <div class="card-body">
               
                <form action="/post/karyawan/edit" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-label">Nama Depan</label>
                                <input value="{{.User.NamaDepan}}" type="text" name="nama_depan" class="form-control" placeholder="Nama Depan">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-label">Nama Belakang</label>
                                <input value="{{.User.NamaBelakang.String}}" type="text" name="nama_belakang" class="form-control" placeholder="Nama Belakang">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-label">Username</label>
                                <input value="{{.User.Username}}" type="text" name="username" class="form-control" placeholder="Username">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-label">Email</label>
                                <input value="{{.User.Email}}" type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-label">Level</label>
                                <select name="level" class="form-control">
                                    <option value="0" selected>Pilih Level</option>
                                    <option value="super-admin">Super Admin</option>
                                    <option value="admin">Admin</option>
                                    <option value="karyawan">Karyawan</option>
                                </select>
                                <small class="text-danger">
                                    Level Saat Ini <b>{{.User.Level}}</b>, Abaikan Pilihan Diatas Jika Level Tidak Diganti 
                                </small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-label">Jabatan</label>
                                <select name="id_position" class="form-control">
                                    <option value="0" selected>Pilih Jabatan</option>
                                    {{range $p := .Positions}}
                                        <option value="{{$p.Id_Position.Int64}}">{{$p.Position.String}}</option>
                                    {{end}}
                                </select>
                                <small class="text-danger">
                                    Jabatan Saat Ini <b>{{.User.Position.Position.String}}</b>, Abaikan Pilihan Diatas Jika Jabatan Tidak Diganti 
                                </small>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="old_id_position" value="{{.User.Position.Id_Position.Int64}}">
                    <input type="hidden" name="old_level" value="{{.User.Level}}">
                    <input type="hidden" name="id_user" value="{{.User.Id_User}}">
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm">Update Karyawan</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card" id="tab-view" data-identifier="keluarga" style="display: none;">
            <div class="card-header">
                <h3 class="card-title">Data Keluarga</h3>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary btn-md mb-3" data-toggle="modal" data-target="#exampleModal">
                    Tambah Anggota Keluarga
                </button>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>Nama</th>
                            <th>Pekerjaan</th>
                            <th>NIK</th>
                            <th>Hubungan Keluarga</th>
                            <th>Status Pernikahan</th>
                            <th>Jenis Kelamin</th>
                            <th>Aksi</th>
                        </tr>
                        {{range $family := .Families}}
                            <tr>    
                                <td>{{$family.NamaLengkap}}</td>
                                <td>{{$family.Pekerjaan}}</td>
                                <td>{{$family.Nik}}</td>
                                <td>{{$family.Hubungan}}</td>
                                <td>{{$family.Status}}</td>
                                <td>{{$family.JenisKelamin}}</td>
                                <td>
                                    <a onclick="return confirm('Yakin Akan Menghapus Anggota Keluarga Ini ?')" href="/get/family/delete?id_family={{$family.Id_Family}}&id_user={{$family.Id_User}}" class="btn btn-danger btn-sm">Hapus</a>
                                    <a href="/get/family/update?id_family={{$family.Id_Family}}" class="btn btn-warning btn-sm text-white">Edit</a>
                                </td>
                            </tr>
                        {{end}}
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal -->
<!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h3>Data Keluarga</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/post/family/tambah" method="post">
            <input type="hidden" name="id_user" value="{{.Id_User}}" id="">
            <div class="modal-body">
                <div id="family">
                    <div class="row" id="data-family">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label  class="form-label">Nama Lengkap</label>
                                <input type="text" required name="nama_lengkap" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label  class="form-label">NIK</label>
                                <input type="number" name="nik" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label  class="form-label">Pekerjaan</label>
                                <input type="text" required name="pekerjaan" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label  class="form-label">Tanggal Lahir</label>
                                <input type="date" name="tgl_lahir" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label  class="form-label">Hubungan</label>
                                <select name="hubungan_keluarga" class="form-control">
                                    {{range $hub := .Hubungan}}
                                        <option value="{{$hub.Id_Hubungan}}">{{$hub.Hubungan}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label  class="form-label">Status Pernikahan</label>
                                <select name="status_pernikahan" class="form-control">
                                    {{range $status := .Status}}
                                        <option value="{{$status.Id_Status}}">{{$status.Status}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label  class="form-label">Jenis Kelamin</label>
                                <select name="jenis_kelamin" class="form-control">
                                    {{range $jk := .JK}}
                                    <option value="{{$jk.Id_JenisKelamin}}">{{$jk.Jenis_Kelamin}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>
    {{template "bottom-wrapper"}}
{{template "footer"}}
{{end}}