{{define "footer"}}
   <!-- plugins:js -->
   <script src="/static/public/vendors/js/vendor.bundle.base.js"></script>
   <!-- endinject -->
   <!-- Plugin js for this page -->
   <script src="/static/public/vendors/chart.js/Chart.min.js"></script>
 
   <!-- End plugin js for this page -->
   <!-- inject:js -->
   <script src="/static/public/js/off-canvas.js"></script>
   <script src="/static/public/js/hoverable-collapse.js"></script>
   <script src="/static/public/js/template.js"></script>
   <script src="/static/public/js/settings.js"></script>
   <script src="/static/public/js/todolist.js"></script>
   <script src="/static/public/js/myscript.js"></script>
   <!-- endinject -->
 </body>
 
 </html>
 
 

{{end}}