{{define "sidebar"}}
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#karyawan" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Karyawan</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="karyawan">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/get/karyawan">Karyawan</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#posisi" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Posisi</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="posisi">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/get/position">Posisi</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#pengaturan" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Pengaturan Umum</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="pengaturan">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/get/hubungan-keluarga">Hubungan Keluarga</a></li>
                <li class="nav-item"> <a class="nav-link" href="/get/jenis-kelamin">Jenis Kelamin</a></li>
                <li class="nav-item"> <a class="nav-link" href="">Status Pernikahan</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
{{end}}