{{define "status_pernikahan_dashboard"}}
{{template "header"}}
{{template "top-wrapper"}}
<div class="card">
   <div class="card-header">
       <h3 class="card-title">Data Status Pernikahan</h3>
       <a href="/get/status-pernikahan/tambah" class="btn btn-primary btn-sm">Tambah Status Pernikahan</a>
   </div>

   <div class="card-body"> 
       <div class="table-responsive">
           <table class="table table-hover">
               <tr>
                   <th>Status Pernikahan</th>
                   <th>Aksi</th>
               </tr>
               {{range $status := .Status}}
                <tr>
                    <td>{{$status.Status}}</td>
                    <td>
                        <a onclick="return confirm('Yakin Akan Menghapus Data Ini ?')" href="/get/status-pernikahan/delete/{{$status.Id_Status}}" class="btn btn-danger btn-sm">Hapus</a>
                        <a href="/get/status-pernikahan/update/{{$status.Id_Status}}" class="btn btn-warning btn-sm text-white">Update</a>
                    </td>
                </tr>
                {{end}}
           </table>
       </div>
   </div>

</div>
{{template "bottom-wrapper"}}
{{template "footer"}}
{{end}}