{{define "payroll_component_dashboard"}}
{{template "header"}}
{{template "top-wrapper"}}
<div class="card">
   <div class="card-header">
       <h3 class="card-title">Data Payroll Components</h3>
       <a href="/get/payroll-component/tambah" class="btn btn-primary btn-sm">Tambah Payroll Component</a>
   </div>
   <div class="card-body">
       <div class="table-responsive">
           <table class="table table-hover">
               <tr>
                   <th>Payroll Compnent</th>
                   <th>Nominal</th>
                   <th>Aksi</th>
               </tr>
               {{range $c := .Component}}
                <tr>
                    <td>{{$c.Component}}</td>
                    <td>{{$c.Nominal}}</td>
                    <td>
                        <a onclick="return confirm('Yakin Akan Menghapus Data Ini')" href="/get/payroll-component/delete?id_component={{$c.Id_Component}}" class="btn btn-danger btn-sm">Hapus</a>
                        <a href="/get/payroll-component/update?id_component={{$c.Id_Component}}" class="btn btn-warning btn-sm text-white">Update</a>
                    </td>
                </tr>
               {{end}}
           </table>
       </div>
   </div>

</div>
{{template "bottom-wrapper"}}
{{template "footer"}}
{{end}}